
body {
  height: 100%;
  width:100%;
  margin: 0;
  overflow-x: hidden;
	/* background-color: rgb(67, 70, 67); */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* a, a:visited, a:hover, a:active {
   color: inherit;
   font-family: 'Alegreya Sans SC';
   text-decoration: none;
} */
h1 {
   color: black;
   font-family: 'Alegreya Sans SC', sans-serif;
   font-size: 3em;
   margin-top: 0;
}





/* font-family: 'Nothing You Could Do', cursive;
font-family: 'Syncopate', sans-serif; */
