a{
  text-decoration: none;
}
#animated-word{
  /* -webkit-animation: text-pulse ease-in-out 1.2s;
  animation: text-pulse ease-in-out 1.2s;
  -webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite; */
  color: tomato;
  display: inline-block;
  font-size: 20px
}
.big-font, #bio-header, #portfolio-header, #social-header{
  margin: auto;
  text-align: center;
}
#bio-header, #portfolio-header{
  padding-top:5%;
  padding-bottom:5%;
}
#bio-container{
	height: 100vh;
	width: 100vw;
  background: white;
  margin-top:0px;
}
#bio-header{
  color:rgb(72, 107, 202);
}
#bookkeeper{
  margin-bottom:0;
}
#cardswap-github{
  width:100px;
  height:50px;
}
#cardswap-site{
  width:75px;
  height:50px;
}

.colorOrange{
  color: orange;
}
.colorSeaGreen {
  color: seagreen
}
.colorLightBlue {
  color: lightblue  
}
.colorTomato {
  color: tomato
}
.description{
  font-family: 'abel';
  font-size:18px;
  color: cadetblue;
  width:40vw;
  /* height:25vh; */
  grid-area: desc;
}
#flip-note {
  font-family: 'Alegreya Sans SC';
  font-size: 1.2em;
  letter-spacing: 1px;
  background-color: transparent;
  width: 20em;
  height: 60%;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  margin: auto;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
  
}
#flip-note-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
  box-shadow: 18px 22px 22px -14px rgba(0,0,0,0.39);
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}
#flip-note-front, #flip-note-back {
  background:rgb(250, 250, 250);
  color: black;
  position: absolute;
  width: 100%;/* font-family: 'Amatic SC'; */
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: left;

  /* overflow: auto; */
  /* overflow-y: scroll; */
}
#flip-note-front {
  /*background-color: #bbb; */
  /* justify-content: left; */
  padding-left: 3%;
  overflow-y: scroll;
}
#flip-note-back {
  /* background-color: #2980b9; */
  /* margin-left: -20%; */
  /* padding-left: -3%; */
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  overflow-y: auto;
}
#github-link{
  height:200px;
  width:200px;
}
.github-logo{
	/* margin-left:5%; */
	height: 100px;
	width: 100px;
	position:absolute;
	margin-left:8%;
}
.highlight{
  color: goldenrod;
}
hr { 
    opacity: 0.5;
    border: 0; 
    height: 2px; 
    width:40%;
    margin-bottom:5%;
    margin-top:5%;
    background-image: -moz-linear-gradient(left, tomato, goldenrod, forestgreen);
    background-image: -webkit-linear-gradient(left, rgb(45, 45, 45), tomato, goldenrod, forestgreen, rgb(45, 45, 45));
    background-color: tomato;
  }
.link{
  width:100px;
  height:50px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  border: 2px solid rgb(150, 150, 150);
  border-radius: 10%;
  justify-self:start;
  text-align: center;
  float:left;
}
.link:hover{
  background-color: rgb(255, 255, 255);
  border: 2px solid white;
}

#name-header{
  /* color: tomato; */
  color: rgb(230, 160, 30);
  font-family: 'Alegreya Sans SC', sans-serif;
  /* font-family: 'Amatic SC'; */
  /* font-family: 'Covered By Your Grace'; */
  /* font-family: 'Dokdo', cursive; */
  /* font-family: 'Nanum Brush Script', cursive; */
  /* font-family: 'Permanent Marker', cursive; */
  /* font-family: 'Sue Ellen Francisco', cursive; */
  /* font-family: 'Walter Turncoat', cursive; */
}
.note-back-body{
  font-family: 'abel';
}
.note-back-header{
  padding-left: 2%;
  /* margin: 0%; */
}
.parallax-stpaul-main{
	background-image: url("./internal-images/stpaul_night.png");
  background-position: center;
  /* background-position-x: 1px; */
	background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
	width: 100vw; 
	z-index:-1;
	position: fixed;
  top:0px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  	/* background-attachment: fixed; */
}
.parallax-stpaul-trans{
	background-image: url("./internal-images/stpaul_night8.png");
	height: 100vh;
	width: 100vw;
  background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#portfolio-container{
  	/* background: rgb(47, 50, 53); */
  background: white;
  width: 100vw;
  /* height: 102vh; */
  /* height: auto; */
}
#portfolio-header, #social-header{
  color: white;
}
.project-container{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 20%; */
  margin-bottom: 12%;
  display: grid;
  gap:1em;
  grid-template-columns: auto;
  grid-template-rows: 40% 40% 30% 25%;
  grid-template-areas: 
    "img img title title"
    "img img desc desc"
    "links links desc desc"
    "techs techs techs techs";
}
.project-header{
  font-family: 'abel';
  grid-area: title;
  color: goldenrod;
  font-size: 4em;
  margin:0;
}
.project-img{
  width:70%;
  height: 200px;
  grid-area: img;
  justify-self: center;
}
.project-links{
  grid-area: links;
  justify-self: center;
  /* grid-template-columns: 1fr 1fr; */
}
.project-techs{
  color: white;
  font-family: 'abel';
  grid-area: techs;
  justify-self: center;
}
#reciperiot-github, #reciperiot-site,
#todo-github, #todo-site{
margin-top: 20px;
margin-left: 5px;
margin-right: 5px;
}
#social-container{
  background: rgb(45, 45, 45);
  /* height: 100vh; */
  width: 100vw;
  padding-bottom: 5%;
}
#social-header{
  padding-top:20%;
  padding-bottom:5%;
}
#social-links{
  width:80vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-rows: auto;  */
  margin: auto;
  justify-self: center;
}
#social-links img{
  height: 200px;
  width: 200px;
  /* justify-self: center; */
}
.social-link, #email{
  margin:auto;
  text-align: center;
  color: white;
  font-family: 'abel';
  font-size:100%;
  /* width: 50%; */
}

/*=============================================================================*/

/*MEDIA QUERIES*/

@media (min-width: 1300px){
  .project-img{
    width:60%;
    height: 220px;
  }
}

@media (max-width: 150em) {
  h1 {
    font-size: 6em;
  }
  #name-header{
    font-size: 6em;
  }
  #bio-header, #portfolio-header, #social-header{
    font-size: 5em;
  }
  #my-pic{
    height: 28em;
    width: 38em;
    opacity: 0.9;
    margin-top: -8%;
    /* justify-self:center */
  }
  .sm-screen-header{
    display:none;
  }
}

@media (max-width: 150em) and (min-height: 765px) {
  #my-pic{
    height: 30em;
    width: 40em;
    margin-top: 6%;
  }
}

@media (max-width: 80em) {
  h1 {
    font-size: 4.6em;
  }
  #my-pic{
    height: 26em;
    width: 36em;
    opacity: 0.9;
    margin-top: -2%;
  }
  #name-header, #bio-header, #portfolio-header, #social-header{
    font-size: 4.6em;
  }
  
  .project-container{
    margin-bottom: 10%;
    grid-template-rows: 30% 30% 30% 25%;
  }
  .sm-screen-header{
    display:none;
  }
}

@media (max-width: 80em) and (min-height: 765px) {
  #my-pic{
    height: 30em;
    width: 40em;
    margin-top: 6%;
  }
}

@media (max-width: 60em) {
  .description{
    font-family: 'abel';
    font-size:18px;
    color: cadetblue;
    width:80vw;
    grid-area: desc;
    justify-self: center;
  }
  h1 {
    font-size: 3.2em;
  }
  #my-pic {
    height: 26em;
    width: 36em;
    opacity: 0.9;
  }
  #name-header{
    font-size: 3.2em;
  }
  .project-container{
    width:90%;
    margin-bottom: 8%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
      "title"
      "img"
      "links"
      "desc"
      "techs";
  }
  .project-header{
    font-family: 'abel';
    grid-area: title;
    color: goldenrod;
    font-size: 4em;
    margin:0;
    justify-self: center;
  }
  .project-img{
    width:80%;
    height:300px;
    grid-area: img;
    justify-self: center;
  }
  .project-techs{
    color: white;
    font-family: 'abel';
    grid-area: techs;
    justify-self: center;
    margin-top:0;
  }
  .sm-screen-header{
    display:none;
  }
}

@media (max-width: 60em) and (min-height: 765px) {
  #my-pic{
    height: 30em;
    width: 40em;
    margin-top: 6%;
  }
}

@media (max-width: 40em) {
  #flip-note {
    font-family: 'Alegreya Sans SC';
    font-size: 1.2em;
    letter-spacing: 1px;
    background-color: transparent;
    width: 80%;
    height: 60%;
    perspective: 1000px;
    margin: auto;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
  }
  h1 {
    font-size: 3em;
  }
  #my-pic-sm{
    height: 20em;
    width:80vw;
    margin-top: 0px;
    margin: auto;
  }
  #name-header{
    font-size: 4em;
    margin-bottom: 0px;
    color:forestgreen;
  }
  .parallax-stpaul-main, .parallax-stpaul-trans{
    display: none
  }
  .project-img{
    width:80%;
    height:200px;
    grid-area: img;
    justify-self: center;
  }
  .sm-screen-header{
    display:block;
    text-align: center;
    height: 100vh;
    background:white;
  }
}


/*=============================================================================*/

/*KEYFRAMES*/

@keyframes text-pulse {
	50% {-webkit-transform: scale(0.9); transform: scale(0.9);}
}

/*=============================================================================*/

/*EXTRA FONTS*/

/* font-family: 'Amatic SC'; */
/* font-family: 'Covered By Your Grace'; */
/* font-family: 'Dokdo', cursive; */
/* font-family: 'Nanum Brush Script', cursive; */
/* font-family: 'Permanent Marker', cursive; */
/* font-family: 'Sue Ellen Francisco', cursive; */
/* font-family: 'Walter Turncoat', cursive; */
/* font-family: 'Squada One', cursive; */
