body {
   /* background-color: rgb(67, 70, 67); */
}
a{
  text-decoration: none;
}
hr { 
    opacity: 0.5;
    border: 0; 
    height: 2px; 
    width:40%;
    margin-bottom:5%;
    margin-top:5%;
    background-image: -moz-linear-gradient(left, tomato, goldenrod, forestgreen);
    background-image: -webkit-linear-gradient(left, rgb(45, 45, 45), tomato, goldenrod, forestgreen, rgb(45, 45, 45));
    background-color: tomato;
  }

#animated-word{
  animation: text-pulse ease-in-out 1.2s;
	animation-iteration-count: infinite;
  color: rgb(72, 107, 202);
  display: inline-block;
}
.big-font, #bio-header, #portfolio-header, #social-header{
  margin: auto;
  text-align: center;
}
#bio-header, #portfolio-header{
  padding-top:5%;
  padding-bottom:5%;
}
#bio-container{
	height: 100vh;
	width: 100vw;
  background: white;
  margin-top:0px;
}
#bio-header{
  color:rgb(72, 107, 202);
}
#bookkeeper{
  margin-bottom:0;
}
#cardswap-github{
  width:100px;
  height:50px;
}
#cardswap-site{
  width:75px;
  height:50px;
}
#reciperiot-github, #reciperiot-site,
#todo-github, #todo-site{
margin-top: 20px;
margin-left: 5px;
margin-right: 5px;
}

.colorOrange{
  color: orange;
}
.colorSeaGreen {
  color: seagreen
}
.colorLightBlue {
  color: lightblue  
}
.colorTomato {
  color: tomato
}
.description{
  font-family: 'abel';
  font-size:18px;
  color: cadetblue;
  width:40vw;
  /* height:25vh; */
  grid-area: desc;
}
#flip-note {
  font-family: 'Alegreya Sans SC';
  font-size: 1.2em;
  letter-spacing: 1px;
  background-color: transparent;
  width: 20em;
  height: 60%;
  perspective: 1000px;
  margin: auto;
  font-weight: bold;
  /* font-family: 'Amatic SC'; */
  /* font-family: 'Covered By Your Grace'; */
  font-family: 'Permanent Marker', cursive;
  /* font-family: 'Sue Ellen Francisco', cursive; */
  /* font-family: 'Walter Turncoat', cursive; */
  /* font-family: 'Squada One', cursive; */
}
#flip-note-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 18px 22px 22px -14px rgba(0,0,0,0.39);
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}
#flip-note-front, #flip-note-back {
  background:rgb(250, 250, 250);
  color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: left;
  overflow: auto;
}
#flip-note-front {
  /*background-color: #bbb; */
  /* justify-content: left; */
  padding-left: 3%;
}
#flip-note-back {
  /* background-color: #2980b9; */
  /* margin-left: -20%; */
  /* padding-left: -3%; */
  transform: rotateY(180deg);
}
#github-link{
  height:200px;
  width:200px;
}
.highlight{
  color: goldenrod;
}
.link{
  width:100px;
  height:50px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  border: 2px solid rgb(150, 150, 150);
  border-radius: 10%;
  justify-self:start;
  text-align: center;
  float:left;
}
.link:hover{
  background-color: rgb(255, 255, 255);
  border: 2px solid white;
}

#name-header{
  /* color: tomato; */
  color: rgb(230, 160, 30);
  font-family: 'Alegreya Sans SC', sans-serif;
  /* font-family: 'Amatic SC'; */
  /* font-family: 'Covered By Your Grace'; */
  /* font-family: 'Dokdo', cursive; */
  /* font-family: 'Nanum Brush Script', cursive; */
  /* font-family: 'Permanent Marker', cursive; */
  /* font-family: 'Sue Ellen Francisco', cursive; */
  /* font-family: 'Walter Turncoat', cursive; */
}
.note-back-body{
  font-family: 'abel';
}
.note-back-header{
  padding-left: 2%;
  /* margin: 0%; */
}
#portfolio-container{
  	/* background: rgb(47, 50, 53); */
  background: white;
  /* height: 102vh; */
  /* height: auto; */
  width: 100vw;
  /* margin-bottom:0; */
}
#portfolio-header, #social-header{
  color: white;
}

.project-container{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 20%; */
  margin-bottom: 10%;
  display: grid;
  gap:1em;
  grid-template-columns: auto;
  grid-template-rows: 30% 30% 30% 25%;
  grid-template-areas: 
    "img img title title"
    "img img desc desc"
    "links links desc desc"
    "techs techs techs techs";
}
.project-header{
  font-family: 'abel';
  grid-area: title;
  color: goldenrod;
  font-size: 4em;
  margin:0;
}
.project-img{
  width:70%;
  height:100%;
  grid-area: img;
  justify-self: center;
}
.project-links{
  grid-area: links;
  justify-self: center;
  /* grid-template-columns: 1fr 1fr; */
}
.project-techs{
  color: white;
  font-family: 'abel';
  grid-area: techs;
  justify-self: center;
}
#social-container{
  background: rgb(45, 45, 45);
  /* height: 100vh; */
  width: 100vw;
  padding-bottom: 5%;
}
#social-header{
  padding-top:20%;
  padding-bottom:5%;
}
#social-links{
  width:80vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-rows: auto;  */
  margin: auto;
  justify-self: center;
}
#social-links img{
  height: 200px;
  width: 200px;
  /* justify-self: center; */
}
.social-link, #email{
  margin:auto;
  text-align: center;
  color: white;
  font-family: 'abel';
  font-size:100%;
  /* width: 50%; */
}

/*=============================================================================*/

/*OLD APP.CSS SCRIPT*/

.thebox{
max-width:1000px;
max-height:700px;
}
.App {
  /* text-align: center; */
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: black;
}
/* .App-intro {
  font-size: large;
} */
/* .App-title {
  font-size: 1.5em;
} */


.bio-text{
	justify-content: center;
	width: 40%;
	height: auto;
	overflow: visible;
}
/* .colorOrange{
   color: orange;
}
.colorSeaGreen {
   color: rgb(59, 168, 106)
}
.colorLightBlue {
   color: lightblue  
}
.colorTomato {
   color: tomato
} */
.container{
	/* height: 100%; */
}
.float-left{
	float:left;
	border: 1px solid red;
}
.github-div{
	width: 25%;
	height:50%;
}
.github-logo{
	/* margin-left:5%; */
	height: 100px;
	width: 100px;
	position:absolute;
	margin-left:8%;
}
/* #email{
  border: 2px solid rgb(115,165,217);
  width: 30%;
  height: 60%;
  border-radius: 10%;
} */
.left{
	top:10px;
	left: 100px;
}
/* #my-pic {
  border-radius: 50%;
  height: 7em;
  width: 8em;
  margin: 0;
} */
.panelDetails {
   background-color: rgb(67, 70, 67);
   font-family: 'Abel', sans-serif;
}
.parallax-stpaul-main{
	/* background-image: url("../images/stpaul_night.jpg"); */
	background-image: url("./internal-images/stpaul_night.png");
	height: 100vh;
	width: 100vw; 
	/* background-attachment: fixed; */
  background-position: center;
	/* background-position: -50px center; */
  /* background-position-x: 1px; */
	background-repeat: no-repeat;
  background-size: cover;
	/* background-size: 90vw 90vh; */
	z-index:-1;
	position: fixed;
	top:0px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-template-rows: max-content; */
	/* left:0px; */
	/* display: inline-block; */
}
.parallax-stpaul-trans{
	background-image: url("./internal-images/stpaul_night8.png");
	height: 100vh;
	width: 100vw;
	/* background-attachment: fixed; */
  background-position: center;
	/* background-position: center; */
	background-repeat: no-repeat;
	background-size: cover;
	/* top:0px;*/
	/* left:0px; */
	/* background-attachment: scroll; */
	/* position: fixed; */
	/* display: inline-block; */
}
.parallax-reciperiot{
	background: url("./internal-images/recipe-riot-home.png");
	height: 100vh;
	width: 100vw; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}
.parallax-rgb{
	background-image: url("./internal-images/rgb_game.png");
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax-todo{
	background-image: url("./internal-images/todo_site.png");
	height: 100vh;
	width: 100vw; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax-book{
	background-image: url("./internal-images/bookcollection.png");
	height: 100vh;
	width: 100vw; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.projectName{
   margin: auto auto;
   font-size: 40px;
   color:black
}
.project-section {
	display: inline-block;
	width: 100%;
}
.title{
	position:absolute;
	background-attachment: fixed;
}

@media (max-width: 150em) {
  h1 {
    font-size: 6em;
  }
  #name-header{
    font-size: 6em;
  }
  #my-pic{
    height: 28em;
    width: 38em;
    opacity: 0.9;
    margin-top: -8%;
    /* justify-self:center */
  }
  
}
/* @media (max-width: 150em) and (min-height: 670px) {
  h1 {
    font-size: 6em;
  }
  #my-pic{
    height: 35em;
    width: 40em;
    opacity: 0.8;
    margin: -40px;
  }
} */

@media (max-width: 80em) {
  h1 {
    font-size: 4.6em;
  }
  #name-header, #bio-header, #portfolio-header, #social-header{
    font-size: 4.6em;
  }
  #my-pic{
    height: 26em;
    width: 36em;
    opacity: 0.9;
    margin-top: -2%;
  }
}

/* @media (max-width: 80em) and (min-height: 670px){
  h1 {
    font-size: 5.5em;
  }
  #name-header{
    font-size: 5.5em;
  }
  #my-pic{
    height: 30em;
    width: 35em;
    opacity: 0.7;
    margin: -80px;
  }
} */

@media (max-width: 60em) {
  h1 {
    font-size: 3.2em;
  }
  
  #name-header{
    font-size: 3.2em;
  }
  #my-pic{
    /* height: 24em;
    width: 34em;
    opacity: 0.9;
    margin-top: 2%; */
    height: 26em;
    width: 36em;
    opacity: 0.9;
    margin-top: -2%;
  }
  .project-container{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 20%; */
    margin-bottom: 8%;
    display: grid;
    gap:1em;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    /* grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr; */
    grid-template-areas: 
      "title"
      "img"
      "links"
      "desc"
      "techs";
  }
  .description{
    font-family: 'abel';
    font-size:18px;
    color: cadetblue;
    width:80vw;
    /* height:25vh; */
    grid-area: desc;
    justify-self: center;
    /* margin-bottom: -60; */
  }
  .project-header{
    font-family: 'abel';
    grid-area: title;
    color: goldenrod;
    font-size: 4em;
    margin:0;
    justify-self: center;
  }
  .project-img{
    width:80%;
    height:300px;
    grid-area: img;
    justify-self: center;
  }
  .project-techs{
    color: white;
    font-family: 'abel';
    grid-area: techs;
    justify-self: center;
    margin-top:0;
  }
}

@media (max-width: 40em) {
  h1 {
    font-size: 3em;
  }
  #name-header{
    font-size: 3em;
  }
  #my-pic{
    height: 25em;
    width: 30em;
    margin-top: 0px;
  }
  #flip-note {
  font-family: 'Alegreya Sans SC';
  font-size: 1.2em;
  letter-spacing: 1px;
  background-color: transparent;
  width: 80%;
  height: 60%;
  perspective: 1000px;
  margin: auto;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
}
  .parallax-stpaul-main, .parallax-stpaul-trans{
    display: none
  }
  .project-img{
    width:80%;
    height:200px;
    grid-area: img;
    justify-self: center;
  }
}


@keyframes text-pulse {
	50% {transform: scale(0.9)}
}

