body {
   /* background-color: rgb(67, 70, 67); */
}
a{
  text-decoration: none;
}
hr { 
  opacity: 0.5;
  border: 0; 
  height: 2px; 
  width:40%;
  margin-bottom:10%;
  background-image: -moz-linear-gradient(left, tomato, goldenrod, forestgreen);
  background-image: -webkit-linear-gradient(left, rgb(45, 45, 45), tomato, goldenrod, forestgreen, rgb(45, 45, 45));
  background-color: tomato;

}

#animated-word{
  animation: text-pulse ease-in-out 1.2s;
	animation-iteration-count: infinite;
  color: rgb(72, 107, 202);
  display: inline-block;
}
.big-font, #bio-header, #portfolio-header, #social-header{
  margin: auto;
  text-align: center;
}
#bio-header, #portfolio-header{
  padding-top:5%;
  padding-bottom:5%;
}
#bio-container{
	height: 102vh;
	width: 100vw;
  background: white;
  margin-top:0px;
}
#bio-header{
  color:rgb(72, 107, 202);
}
#bookkeeper{
  margin-bottom:0;
}
#cardswap-github{
  width:100px;
  height:50px;
}
#cardswap-site{
  width:75px;
  height:50px;
}
#reciperiot-github, #reciperiot-site,
#todo-github, #todo-site{
margin-top: 20px;
margin-left: 5px;
margin-right: 5px;
}

.colorOrange{
  color: orange;
}
.colorSeaGreen {
  color: seagreen
}
.colorLightBlue {
  color: lightblue  
}
.colorTomato {
  color: tomato
}
.description{
  font-family: 'abel';
  font-size:18px;
  color: cadetblue;
  width:40vw;
  height:25vh;
  grid-area: desc;
}
#flip-note {
  font-family: 'Alegreya Sans SC';
  font-size: 1.2em;
  letter-spacing: 1px;
  background-color: transparent;
  width: 20em;
  height: 60%;
  perspective: 1000px;
  margin: auto;
  
  font-weight: bold;
  /* font-family: 'Amatic SC'; */
  /* font-family: 'Covered By Your Grace'; */
  font-family: 'Permanent Marker', cursive;
  /* font-family: 'Sue Ellen Francisco', cursive; */
  /* font-family: 'Walter Turncoat', cursive; */
  /* font-family: 'Squada One', cursive; */
}
#flip-note-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 18px 22px 22px -14px rgba(0,0,0,0.39);
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}
#flip-note-front, #flip-note-back {
  background:rgb(250, 250, 250);
  color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: left;
  overflow: auto;
}
#flip-note-front {
  /*background-color: #bbb; */
  /* justify-content: left; */
  padding-left: 3%;
}
#flip-note-back {
  /* background-color: #2980b9; */
  /* margin-left: -20%; */
  /* padding-left: -3%; */
  transform: rotateY(180deg);
}
#github-link{
  height:200px;
  width:200px;
}
.highlight{
  color: goldenrod;
}
.link{
  width:100px;
  height:50px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  border: 2px solid rgb(150, 150, 150);
  border-radius: 18%;
  justify-self:start;
  text-align: center;
  float:left;
}
.link:hover{
  background-color: black;
  border: 2px solid white;
}

#name-header{
  /* color: tomato; */
  color: rgb(230, 160, 30);
  font-family: 'Alegreya Sans SC', sans-serif;
  /* font-family: 'Amatic SC'; */
  /* font-family: 'Covered By Your Grace'; */
  /* font-family: 'Dokdo', cursive; */
  /* font-family: 'Nanum Brush Script', cursive; */
  /* font-family: 'Permanent Marker', cursive; */
  /* font-family: 'Sue Ellen Francisco', cursive; */
  /* font-family: 'Walter Turncoat', cursive; */
}
.note-back-body{
  font-family: 'abel';
}
#portfolio-container{
  	/* background: rgb(47, 50, 53); */
  background: white;
  /* height: 102vh; */
  height: auto;
  width: 100vw;
  margin-bottom:0;
}
#portfolio-header, #social-header{
  color: white;
}

.project-container{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 20%; */
  margin-bottom: 15%;
  display: grid;
  gap:1em;
  grid-template-columns: auto;
  grid-template-rows: 30% 30% 30% 25%;
  grid-template-areas: 
    "img img title title"
    "img img desc desc"
    "links links desc desc"
    "techs techs techs techs";
}
.project-header{
  font-family: 'abel';
  grid-area: title;
  color: goldenrod;
  font-size: 4em;
  margin:0;
}
.project-img{
  width:80%;
  height:100%;
  grid-area: img;
  justify-self: center;
}
.project-links{
  grid-area: links;
  justify-self: center;
  /* grid-template-columns: 1fr 1fr; */
}
.project-techs{
  color: white;
  font-family: 'abel';
  grid-area: techs;
  justify-self: center;
}
#social-container{
  background: rgb(45, 45, 45);
  height: 120vh;
  width: 100vw;
}
#social-header{
  padding-top:20%;
  padding-bottom:5%;
}
#social-links{
  width:80vw;
  /* height: 25vh; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-rows: auto;  */
  margin: auto;
  justify-self: center;
}
#social-links img{
  height: 200px;
  width: 200px;
  /* justify-self: center; */
}
.social-link, #email{
  margin:auto;
  text-align: center;
  color: white;
  font-family: 'abel';
  font-size:100%;
  /* width: 50%; */
}

@keyframes text-pulse {
	50% {transform: scale(0.9)}
}

